.sc-ion-label-md-s p{
	    font-size: 20px !Important;
}


.custom-signup-button {
	--background: #f15a2b; /* Use Ionic theming for background */
	--border-radius: 30px; /* Rounder corners */
	--color: #ffffff; /* White text */
	font-weight: bold; /* Bold text */
	text-transform: uppercase; /* Uppercase text */
	padding: 10px 30px; /* Padding for better spacing */
	font-size: 16px; /* Adjusted font size */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  .custom-signup-button::after {
	content: '\f105'; /* Unicode for the arrow (assuming Ionicons is loaded) */
	font-family: 'Ionicons'; /* Ensure using Ionicons for the arrow */
	font-size: 16px;
	color: white;
	position: absolute;
	right: 15px;
  }
  
  .custom-signup-button ion-icon {
	margin-right: 8px; /* Space between icon and text */
  }
  

  .custom-input {
	--border-radius: 15px; /* Rounded corners */
	--border-width: 1px; /* Thin border */
	--border-color: #ccc; /* Border color */
	--padding-start: 10px;
	
  }
  
  .custom-input ion-input {
	--padding-top: 10px;
	--padding-bottom: 10px;
	font-weight: 300; /* Makes the text inside the input thinner */
  }
  


  
  .custom-input ion-icon {
	color: #666; /* Icon color */
	font-size: 20px; /* Adjust icon size */
	margin-right: 10px; /* Add space between the icon and the input */
    align-self: center;  
}
  


  .custom-signin-button {
	background-color: #ff512c !important; /* Set your desired background color */
	color: white !important; /* Set text color */
	border: 2px solid #ff512c !important; /* Set border color */
	border-radius: 40px !important; /* Ensure the button retains the round shape */
  }
  
  .custom-signin-button:hover {
	background-color: #ff512c !important; /* Keep the same color on hover */
  }
  