<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" routerLink="/welcome">
      <ion-icon style="color: black; width: 24px; height: 24px;" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  style="color: #000;">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    
    <ion-card-content>
        <div class="ion-text-center">
          <img src="assets/img/surshreelogo.png" class="ion-padding" style="padding-top: 10px; max-width: 50%;"/>
          <br/>
          <ion-label class="ion-text-center" style="color: #ff512c;">'Celebrate Your Passion'</ion-label>
          <br/><br/>
          <ion-label class="ion-text-center" style="color: #ff512c;">'India's Biggest singing competition for High School Students.'</ion-label>
        </div>
        <br/><br/>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text  style="color: #ff512c;">
              <h3>Address</h3>
            </ion-text>
            <p>D-9 Kolar Road , Shalimar Park Bhopal M.P.-462042, India</p>
          </ion-label>
          <ion-icon name="home-sharp" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text  style="color: #ff512c;">
              <h3>Phone</h3>
            </ion-text>
            <p>+918349988888 , +917000176855</p>
          </ion-label>
          <ion-icon name="call-sharp" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text  style="color: #ff512c;">
              <h3>Phone</h3>
            </ion-text>
            <p>+919893126606</p>
          </ion-label>
          <ion-icon name="call-sharp" slot="start"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <ion-text  style="color: #ff512c;">
              <h3>Email</h3>
            </ion-text>
            <p>info@surshree.com</p>
          </ion-label>
          <ion-icon name="mail-sharp" slot="start"></ion-icon>
        </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- <app-footer></app-footer> -->