<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" routerLink="/welcome">
      <ion-icon style="color: black; width: 24px; height: 24px;" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: #000;">About Surshree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="about-us-card">
    <ion-card-header class="about-card-header">
      <ion-card-subtitle color="primary" class="ion-text-uppercase">

      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="about-content">
        <img src="../../../assets/img/about.png" alt="About Us" class="about-image" />
        <ion-label class="about-tagline ion-padding-start ion-padding-end" style="color: #FFA500;">
          When everyone else says 'YOU CAN'T', **"सुरश्री"** SAYS 'YES YOU CAN'
        </ion-label>
        <div class="about-details ion-padding-start ion-padding-end">
          <h1 class="ion-text-center"><strong>MEGA SINGING COMPETITION- "SURSHREE"</strong></h1>
          <h2 class="ion-text-center">Rotary globally unites more than a million people</h2>
          <p class="ion-text-justify">
            Surshree is one of the biggest singing competitions in India. It is a brand of Rotary District 3040, held annually in Bhopal. Rotary is
            an international organization of around 1.2 million business professionals and community leaders. Surshree provides a platform for children
            all over India and has become a popular name among young aspiring singers.
          </p>
          <p class="ion-text-justify">
            Starting as a school-level competition for participants from grades 9 to 12 (ages 15–21), Surshree has now grown into an international event
            with global participants. With a unique format of submission through WhatsApp, participants are shortlisted and progress through quarterfinals,
            semifinals, and the grand finale judged by renowned celebrities like Vinod Rathod, Mahalaxmi Iyer, and Anand Ji.
          </p>
          <p class="ion-text-justify">
            Season 6 will take place on 05 Dec 2020, with expanded eligibility for participants aged 15–25. Surshree remains dedicated to shaping young
            musical talents worldwide while maintaining its legacy as a world-class music competition.
          </p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <app-footer></app-footer> -->
